@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&display=swap");

body {
  background-image: url("../images/webBackground.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font-family: "Raleway", sans-serif;
  color: #170b0b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", serif;
}

#content {
  width: 95%;
  margin: auto;
}
img.sitePreview {
  width: 75%;
}

img.sitePreview:hover {
  transform: scale(1.15, 1.15);
}

header {
  padding: 0.75em;
  background-color: rgba(255, 223, 111, 0.75);
  /* opacity: 50%; */
  border-radius: 10px;
}

#logo {
  margin-right: 0.5em;
  float: left;
  width: 5em;
}
#topText {
  width: 100%;
  color: white;
  text-shadow: 0em 0.2em 0.4em black;
}
#topText h1 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 600;
}
#topText h2 {
  width: 100%;
  font-size: 1em;
  margin-top: 0.2em;
  margin-bottom: 0;
  font-weight: lighter;
}
main {
  display: block;
  text-align: center;
}
a {
  text-decoration: none;
  color: #170b0b;
}
section.whiteBack {
  padding: 0.75em;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin: 1.5em 0.5em;
  color: #170b0b;
  text-align: left;
}
section.whiteBack h3 {
  margin-top: 0;
  margin-bottom: 0.7em;
  color: white;
  font-weight: lighter;
  /* text-shadow: 0.1em 0.1em 0.4em white; */
}
section.whiteBack p {
  margin: 0;
  font-weight: bolder;
  text-indent: 2em;
  text-align: left;
}

section.whiteBack ul {
  font-weight: bolder;
  list-style-image: url("../images/bulletpoint.png");
  text-align: left;
}
#Projects {
  text-align: center;
}
#fullGallery {
  text-shadow: none;
  margin-top: 1em;
  color: #170b0b;
}

#fullGallery a {
  color: #3d3a59;
  text-shadow: 0.1em 0.1em 0.4em rgb(255, 223, 111);
}
#fullGallery a:hover {
  text-shadow: 0.1em 0.1em 0.4em white;
}
#backText,
#expDiv,
#Projects {
  display: none;
}
#homeButton {
  margin: 0.5em auto;
}

#homeButton a {
  color: white;
  font-weight: lighter;
}

#homeButton a:hover {
  color: rgb(255, 223, 111);
  font-weight: lighter;
}
#galleryTitle {
  margin-top: 0.5em;
}

.buttons {
  font-family: "Bree Serif", serif;
  font-size: 1.2em;
  background-color: #3d3a59;
  color: white;
  margin: 1.5em;
  margin-bottom: 0;
  padding: 0.5em;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.buttons:hover {
  box-shadow: 0.1em 0.1em 0.4em white;
}
footer {
  padding: 0.75em;
  background-color: rgba(255, 223, 111, 0.5);
  /* opacity: 50%; */
  border-radius: 10px;
  text-align: center;
}
#footerText {
  text-align: left;
  margin-left: 1.4em;
}

#footerText p {
  margin-top: 0;
  margin-bottom: 0.7em;
  font-weight: bolder;
}
#footerText h3 {
  margin-top: 0;
  margin-bottom: 0.7em;
}

@media screen and (min-width: 480px) {
  #backText,
  #expDiv,
  #Projects {
    display: block;
  }
}
