@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&display=swap");

body {
  background-image: url("../images/webBackground.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font-family: "Raleway", sans-serif;
  color: #170b0b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", serif;
}

#content {
  width: 95%;
  margin: auto;
}
img.sitePreview {
  width: 75%;
}

img.sitePreview:hover {
  transform: scale(1.15, 1.15);
}

header {
  padding: 0.75em;
  background-color: rgba(255, 223, 111, 0.75);
  border-radius: 10px;
}

#logo {
  margin-right: 0.5em;
  grid-column: 1;
  width: 5em;
}
#topText {
  width: max-content;
  color: white;
  text-shadow: 0em 0.2em 0.4em black;
  text-align: left;
  grid-column: 2;
}
#headerDiv {
  width: fit-content;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1;
  margin: auto;
}
#headerContent {
  position: relative;
}
#topText h1 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 600;
}
#topText h2 {
  width: 100%;
  font-size: 1em;
  margin-top: 0.2em;
  margin-bottom: 0;
  font-weight: lighter;
}
main {
  display: block;
  text-align: center;
}
a {
  text-decoration: none;
  color: #170b0b;
}
.whiteBack {
  padding: 0.75em;

  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin: 1.5em 0.5em;
  color: #170b0b;
  text-align: left;
}
.whiteBack h2 {
  margin-top: 0;
  margin-bottom: 0.7em;
  color: white;
  font-weight: lighter;
  text-align: center;
  /* text-shadow: 0.1em 0.1em 0.4em white; */
}
.whiteBack p {
  margin: 0;
  font-weight: bolder;
  text-indent: 2em;
  text-align: left;
}

.whiteBack ul {
  font-weight: bolder;
  list-style-image: url("../images/bulletpoint.png");
  text-align: left;
}
#Projects {
  text-align: center;
}
#fullGallery {
  text-shadow: none;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #170b0b;
  text-align: center;
}

#fullGallery a {
  color: #3d3a59;
  text-shadow: 0.1em 0.1em 0.4em rgb(255, 223, 111);
}
#fullGallery a:hover {
  text-shadow: 0.1em 0.1em 0.4em white;
}
#backText,
#expDiv,
#Projects,
#homeProgress {
  display: none;
}
#Projects section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}
#ProjectsTwo section {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}
.expandDiv {
  margin-bottom: 0.5em;
  text-align: center;
}
.expand {
  color: #3d3a59;
  border: 0.1em dashed #170b0b;
  border-radius: 5px;
  display: inline;
  padding: 0.3em;
}
.expand:hover {
  box-shadow: 0.1em 0.1em 0.4em white;
}
.expand:active {
  box-shadow: 0.1em 0.1em 0.4em white;
}

#homeButton {
  display: none;
}

#homeButton2 {
  margin: 0.5em 1em;
  text-align: center;
}

#homeButton2 a {
  color: white;
  font-weight: lighter;
  font-size: x-large;
}

#homeButton2 a:hover {
  color: rgb(255, 223, 111);
}
#galleryTitle {
  margin-top: 0.25em;
  color: white;
  margin-bottom: 0;
}
#progress {
  margin-top: 0.25em;
  font-weight: bolder;
}
.buttons {
  width: fit-content;
  height: fit-content;
  font-family: "Bree Serif", serif;
  font-size: 1.2em;
  background-color: #3d3a59;
  color: white;
  padding: 0.65em;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.buttons:hover {
  box-shadow: 0.1em 0.1em 0.4em white;
}
footer {
  padding: 0.75em;
  background-color: rgba(255, 223, 111, 0.5);
  /* opacity: 50%; */
  border-radius: 10px;
  text-align: center;
}
#footerText {
  color: #3d3a59;
  text-align: left;
}

#footerText a {
  color: #170b0b;
}

#footerText a:hover {
  /* color: white; */
  padding-bottom: 0.15em;
  /* background-color: rgba(61, 58, 89, 0.76); */
  border-bottom: 0.2em solid white;
  border-radius: 5px;
}
#footerText p {
  margin-top: 0;
  margin-bottom: 0.7em;
  font-weight: bolder;
}
#footerText h3 {
  margin-top: 0;
  margin-bottom: 0.7em;
}
#footerContent {
  margin: auto;
  width: max-content;
}

#footerImg img {
  border-radius: 10px;
}
@media screen and (min-width: 480px) and (max-width: 800px) {
  #content {
    width: 80%;
    margin: auto;
  }
  #backText,
  #expDiv,
  #Projects,
  #homeProgress {
    display: block;
  }

  #homeButton2 {
    display: none;
  }

  #homeButton {
    display: contents;
    margin: 0.5em 1em;
    text-align: right;
  }

  #homeButton a {
    color: white;
    font-weight: lighter;
    font-size: x-large;
    position: absolute;
    bottom: -0.3em;
    right: 0;
  }

  #homeButton a:hover {
    color: #3d3a59;
  }

  .expandDiv {
    display: none;
  }

  img.sitePreview {
    width: 10em;
  }

  img.sitePreview:hover {
    transform: scale(1.15, 1.15);
  }

  #galleryTitle {
    margin-top: 1em;
  }

  #expBack {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
  div#expBack .whiteBack {
    margin-top: 0;
  }

  #experience {
    grid-column: 1;
  }

  #background {
    grid-column: 2;
  }

  #ProjectsTwo section {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 10em 3em;
    justify-items: center;
    align-items: center;
    row-gap: 0.75em;
  }

  #Projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #tidbits {
    grid-row: 1;
    grid-column: 2;
  }
  #idweather {
    grid-row: 2;
    grid-column: 1;
  }
  #standardWorks {
    grid-row: 2;
    grid-column: 2;
  }
  #vys {
    grid-row: 1;
    grid-column: 1;
  }

  #ProjectsTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 2em;
  }
  #tidbitsTwo {
    grid-row: 1;
    grid-column: 1;
  }
  #yana {
    grid-row: 1;
    grid-column: 2;
  }
  #idweatherTwo {
    grid-row: 2;
    grid-column: 1;
  }
  #kooky {
    grid-row: 2;
    grid-column: 2;
  }
  #temple {
    grid-row: 3;
    grid-column: 1;
  }
  #hale {
    grid-row: 3;
    grid-column: 2;
  }
  #standardWorksTwo {
    grid-row: 4;
    grid-column: 1;
  }
  #cookbookTwo {
    grid-row: 4;
    grid-column: 2;
  }
  #joy {
    grid-row: 5;
    grid-column: 1;
  }
  #footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    margin: 1em auto;
  }
  #footerText {
    grid-column: 1;
    grid-row: 1;
    float: left;
    text-align: right;
  }

  #footerImg {
    grid-column: 2;
    grid-row: 1;
  }
  #footerImg img {
    height: 10em;
    width: auto;
  }
}
@media screen and (min-width: 801px) {
  #content {
    width: 75%;
    margin: auto;
  }
  #backText,
  #expDiv,
  #Projects,
  #homeProgress {
    display: block;
  }

  #homeButton2 {
    display: none;
  }

  #galleryTitle {
    margin-top: 1em;
  }

  #homeButton {
    display: contents;
    margin: 0.5em 1em;
    text-align: right;
  }

  #homeButton a {
    color: white;
    font-weight: lighter;
    font-size: x-large;
    position: absolute;
    bottom: -0.3em;
    right: 0;
  }

  #homeButton a:hover {
    color: #3d3a59;
  }

  .expandDiv {
    display: none;
  }

  #expBack {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  div#expBack .whiteBack {
    margin-top: 0;
  }

  #experience {
    grid-column: 1;
  }

  #background {
    grid-column: 2;
  }

  #Projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #tidbits {
    grid-row: 1;
    grid-column: 2;
  }
  #idweather {
    grid-row: 2;
    grid-column: 1;
  }
  #standardWorks {
    grid-row: 2;
    grid-column: 2;
  }
  #vys {
    grid-row: 1;
    grid-column: 1;
  }

  #vysLogo{
    border-radius: .5em;
  }

  #tidbits img,
  #idweather img,
  #standardWorks img,
  #vys img {
    width: 10em;
  }

  #ProjectsTwo section {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 10em 3em;
    justify-items: center;
    align-items: center;
    row-gap: 1em;
  }
  #ProjectsTwo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2em;
    column-gap: 1em;
    padding: 1.5em;
    margin-bottom: 2em;
  }
  #tidbitsTwo {
    grid-row: 1;
    grid-column: 1;
  }
  #yana {
    grid-row: 1;
    grid-column: 2;
  }
  #idweatherTwo {
    grid-row: 1;
    grid-column: 3;
  }
  #kooky {
    grid-row: 2;
    grid-column: 1;
  }
  #temple {
    grid-row: 2;
    grid-column: 2;
  }
  #hale {
    grid-row: 2;
    grid-column: 3;
  }
  #standardWorksTwo {
    grid-row: 3;
    grid-column: 1;
  }
  #cookbookTwo {
    grid-row: 3;
    grid-column: 2;
  }
  #joy {
    grid-row: 3;
    grid-column: 3;
  }

  img.sitePreview {
    width: 8em;
  }

  img.sitePreview:hover {
    transform: scale(1.15, 1.15);
  }

  #SmallerWidth {
    width: 60%;
    margin: auto;
    margin-bottom: 1.5em;
  }
  #footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    margin: 1em auto;
  }
  #footerText {
    grid-column: 1;
    grid-row: 1;
    float: left;
    text-align: right;
  }

  #footerImg {
    grid-column: 2;
    grid-row: 1;
  }
  #footerImg img {
    height: 10em;
    width: auto;
  }
}
